<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div style="
        padding: 20px;
        background-color: rgb(255, 255, 255);
        font-size: 14px !important;
      ">
        <div style="
        padding: 20px;
        background-color: rgb(255, 255, 255);
        font-size: 14px !important;
      ">
            <p style="margin-bottom: 11px">
                <span style="font-size: 11pt"><span style="line-height: normal"><span
                            style="font-family: Calibri, sans-serif"><span style="font-size: 10.5pt"><span
                                    style="font-family: 'Arial', sans-serif">Xin chào,
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
            </p>

            <p style="margin-bottom: 5px; font-weight: normal">
                Việc Làm Cùng Đầy Hồ giới thiệu <b>5</b>
                <strong> Việc làm phù hợp nhất</strong> với những tiêu chí hồ sơ của bạn
                trong hôm nay.
            </p>
            <a href="style"="text-decoration: none" target="_blank">
                <div style="
            margin: 10px;
            border: 1px solid #e3eefb;
            border-radius: 6px;
            display: flex;
          ">
                    <img style="
              min-width: 80px;
              max-width: 80px;
              height: 80px;
              margin: 8px 8px 8px 8px;
              border-radius: 4px;
            " src="" class="CToWUd" data-bit="iit" />
                    <div style="padding: 5px 10px 5px 15px; width: 100%">
                        <p style="
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 5px;
                color: #414045;
              ">
                            Digital Marketing Executive (Night Shift)
                        </p>
                        <p style="
                margin-top: 0px;
                margin-bottom: 10px;
                color: #6f6d71;
                font-size: 12px;
              ">
                            Global Liaison Co.,Ltd
                        </p>
                        <div style="
                padding: 0px;
                margin-bottom: 6px;
                margin-top: 0px;
                display: flex;
                width: 100%;
              ">
                            <div style="display: flex">
                                <img style="width: 16px; height: 16px; object-fit: contain"
                                    src="https://ci4.googleusercontent.com/proxy/1ElH9K6u9Ux2-iEmLfZk1FP-xjW5z09nGto-264aiVVdOlLcBWV5aMBMTz2NwuIkkAjftkswJXCQaAvXxMQBVnOZW5sM5zgsCA-UDwfx7UqOPMy5phdyc0sgYYHxamUZl88pFP-9qH-CdQ=s0-d-e1-ft#https://cdn1.vieclam24h.vn/images/default/2023/05/25/svicon-money-bill_168499575965.png"
                                    class="CToWUd" data-bit="iit" />
                                <div style="
                    display: table-cell;
                    padding-right: 5px;
                    margin-left: 0px;
                    list-style: none;
                    font-size: 12px;
                    vertical-align: middle;
                    color: #414045;
                    font-weight: 700;
                    padding-left: 6px;
                  ">
                                    12 - 20 triệu
                                </div>
                            </div>
                            <div style="display: flex; padding-left: 5px">
                                <img style="width: 16px; height: 16px; object-fit: contain"
                                    src="https://ci6.googleusercontent.com/proxy/raDKP3Ujpsk-46Lyw4r73qgnQh6K2j39Gc6-CYVZey557Ep9ygp2nbOJZVOEKOiHx7dXDLCXoldUw7jfWmMo2f_WAfEBMcaxCgxlxc5zF6rO-eZ4wR91Mf9RdBTf6reNeB37zxADGs5WLg=s0-d-e1-ft#https://cdn1.vieclam24h.vn/images/default/2023/05/25/svicon-map-marker_168498176457.png"
                                    class="CToWUd" data-bit="iit" />
                                <div style="
                    display: table-cell;
                    padding-right: 5px;
                    margin-left: 0px;
                    list-style: nonepx;
                    font-size: 12px;
                    color: #414045;
                    font-weight: 700;
                    padding-left: 6px;
                  ">
                                    TP.HCM
                                </div>
                            </div>
                            <div style="display: flex; padding-left: 5px">
                                <img style="width: 16px; height: 16px; object-fit: contain"
                                    src="https://ci6.googleusercontent.com/proxy/XJ999ifKgf0ZY7oGuvKIlaBNUUAuDnjLxoxr-w94fRPhx9ioTGfoIVwFdswq9ysXzvvPwzdRFIA7bGrGwPUCfxAz5TM-nGm24SoOerR2RZDQ2pQZTGqC8Q3H7NBLkwJHUkIkNehEtf9EQIeu=s0-d-e1-ft#https://cdn1.vieclam24h.vn/images/default/2023/05/25/svicon-calendar-day_168498167990.png"
                                    class="CToWUd" data-bit="iit" />
                                <div style="
                    display: table-cell;
                    padding-right: 5px;
                    margin-left: 0px;
                    list-style: none;
                    font-size: 12px;
                    color: #414045;
                    font-weight: 700;
                    padding-left: 6px;
                  ">
                                    Còn 18 ngày
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div style="text-align: center; padding: 10px; display: flex">
                <div style="
            background-color: #ffffff;
            border-radius: 6px;
            padding: 10px 16px;
            height: 100%;
            width: 90%;
            margin-right: 10px;
            border: 1px solid #886fc2;
          ">
                    <a style="
              color: #451da0;
              font-weight: 600;
              font-size: 14px;
              line-height: 24px;
              text-decoration: none;
              white-space: nowrap;
            " href="" target="_blank">Xem tất cả công việc</a>
                </div>
                <div style="
            width: 90%;
            background-color: #f8f6fb;
            border-radius: 6px;
            padding: 10px 16px;
            height: 100%;
            background-color: #451da0;
            margin-left: 10px;
          ">
                    <a style="
              color: white;
              font-weight: 600;
              font-size: 14px;
              line-height: 24px;
              text-decoration: none;
              white-space: nowrap;
            " href="" target="_blank">Ứng tuyển các vị trí trên</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>